{
    "elasticsearch": {
        "httpAuth": "",
        "host": "http://api.staging.4panoramik.com/catalog",
        "index": "vue_storefront_catalog"
    },
    "storeViews": {
        "mapStoreUrlsFor": [
            "de",
            "it"
        ],
        "multistore": true,
        "de": {
            "disabled": false,
            "elasticsearch": {
                "httpAuth": "",
                "host": "http://api.staging.4panoramik.com/catalog",
                "index": "vue_storefront_catalog_de"
            }
        },
        "it": {
            "disabled": false,
            "elasticsearch": {
                "httpAuth": "",
                "host": "http://api.staging.4panoramik.com/catalog",
                "index": "vue_storefront_catalog_it"
            }
        }
    },
    "cart": {
        "synchronize": true,
        "synchronize_totals": true,
        "create_endpoint": "http://api.staging.4panoramik.com/cart/create?token={{token}}",
        "updateitem_endpoint": "http://api.staging.4panoramik.com/cart/update?token={{token}}&cartId={{cartId}}",
        "deleteitem_endpoint": "http://api.staging.4panoramik.com/cart/delete?token={{token}}&cartId={{cartId}}",
        "pull_endpoint": "http://api.staging.4panoramik.com/cart/pull?token={{token}}&cartId={{cartId}}",
        "totals_endpoint": "http://api.staging.4panoramik.com/cart/totals?token={{token}}&cartId={{cartId}}",
        "paymentmethods_endpoint": "http://api.staging.4panoramik.com/cart/payment-methods?token={{token}}&cartId={{cartId}}",
        "shippingmethods_endpoint": "http://api.staging.4panoramik.com/cart/shipping-methods?token={{token}}&cartId={{cartId}}",
        "shippinginfo_endpoint": "http://api.staging.4panoramik.com/cart/shipping-information?token={{token}}&cartId={{cartId}}",
        "collecttotals_endpoint": "http://api.staging.4panoramik.com/cart/collect-totals?token={{token}}&cartId={{cartId}}",
        "deletecoupon_endpoint": "http://api.staging.4panoramik.com/cart/delete-coupon?token={{token}}&cartId={{cartId}}",
        "applycoupon_endpoint": "http://api.staging.4panoramik.com/cart/apply-coupon?token={{token}}&cartId={{cartId}}&coupon={{coupon}}"
    },
    "products": {
        "preventConfigurableChildrenDirectAccess": true,
        "alwaysSyncPlatformPricesOver": true,
        "clearPricesBeforePlatformSync": true,
        "waitForPlatformSync": false,
        "endpoint": "http://api.staging.4panoramik.com/product",
        "defaultFilters": [
            "color",
            "size",
            "price"
        ]
    },
    "orders": {
        "endpoint": "http://api.staging.4panoramik.com/order"
    },
    "images": {
        "baseUrl": "http://api.staging.4panoramik.com/img/"
    },
    "users": {
        "endpoint": "http://api.staging.4panoramik.com/user",
        "history_endpoint": "http://api.staging.4panoramik.com/user/order-history?token={{token}}",
        "resetPassword_endpoint": "http://api.staging.4panoramik.com/user/reset-password",
        "changePassword_endpoint": "http://api.staging.4panoramik.com/user/change-password?token={{token}}",
        "login_endpoint": "http://api.staging.4panoramik.com/user/login",
        "create_endpoint": "http://api.staging.4panoramik.com/user/create",
        "me_endpoint": "http://api.staging.4panoramik.com/user/me?token={{token}}",
        "refresh_endpoint": "http://api.staging.4panoramik.com/user/refresh"
    },
    "stock": {
        "endpoint": "http://api.staging.4panoramik.com/stock"
    },
    "tax": {
        "defaultCountry": "PL",
        "defaultRegion": "",
        "calculateServerSide": true
    },
    "i18n": {
        "defaultCountry": "US",
        "defaultLanguage": "EN"
    },
    "mailchimp": {
        "endpoint": "http://api.staging.4panoramik.com/ext/mailchimp-subscribe/subscribe"
    },
    "registeredExtensions": [
        "custom_extension",
        "mailchimp-subscribe",
        "google-analytics"
    ],
    "demomode": true,
    "analytics": {
        "id": "UA-108235765-2"
    }
}